<div class="form">
  <div class="form-header">
    <h2> Welcome BACK Ingenious Currator </h2>
  </div>
  <div id="signup" role="content">
    <form id="signup-info" class="login-form card-body">
      <div>
        <label for="username-login">Username</label>
        <input type="text" id="username-login" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" />
      </div>
      <button type="submit" id="login-btn" class="btn1" >LOGIN</button>
      <a href="/sign-up">SIGN-UP</a>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>