<div class="form">
  <div class="form-header">
    <h2> Welcome to the Ingenious Community </h2>
  </div>
  <div id="signup" role="content">
    <form id="signup-info" class="card-body">
      <div>
        <label for="new-username">Your Username</label>
        <input type="text" id="new-username" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" />
      </div>
      <button type="submit" id="signup-btn" class="btn" >SIGNUP</button>
      {{!-- <a href="/login">LOGIN</a> --}}
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>